* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Righteous', monospace;
  }

nav .container-fluid {
    height: 100px;
    width: 100%;
    background-color: brown;
}

.container-fluid-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

